<footer>
    <a class="link" target="_blank" href="mailto:acostaleon25@gmail.com">
        <span class="material-symbols-outlined mr-1">mail</span>
        <span class="link-name">Contact</span>
    </a>
    
    <a class="link" href="#about">
        <span class="material-symbols-outlined mr-1">info</span>
        <span class="link-name">About</span>
    </a>
    
    <a class="link" href="#about">
        <span class="material-symbols-outlined mr-1">help</span>
        <span class="link-name">Help</span>
    </a>

    <div class="socials">
        <a target="_blank" href="https://github.com/444leonn">
            <svg class="icon">
                <use href="sprites.svg#icon-github"></use>
            </svg>
        </a>

        <a target="_blank" href="https://linkedin.com/in/leon-acosta">
            <svg class="icon">
                <use href="sprites.svg#icon-linkedin"></use>
            </svg>
        </a>
    </div>
</footer>