<nav>
    <a class="logo" href="#">
        <img src="logo.png"/>
        <span>Dashboard</span>
    </a>

    <div class="links">
        <a class="item" [routerLink]="['/']">
            <svg class="icon">
                <use href="sprites.svg#icon-dashboard"></use>
            </svg>
            <span>Inicio</span>
        </a>

        <a class="item" href="#socios">
            <svg class="icon">
                <use href="sprites.svg#icon-user"></use>
            </svg>
            <span>Socios</span>
        </a>

        <a class="item" href="#grupos">
            <svg class="icon">
                <use href="sprites.svg#icon-groups"></use>
            </svg>
            <span>Grupos</span>
        </a>

        <a class="item" [routerLink]="['/deportes']">
            <svg class="icon">
                <use href="sprites.svg#icon-sports"></use>
            </svg>
            <span>Deportes</span>
        </a>

        <a class="item" href="#cuotas">
            <svg class="icon">
                <use href="sprites.svg#icon-money"></use>
            </svg>
            <span>Tipos y Cuotas</span>
        </a>
    </div>
</nav>