<footer>
    <a class="link" target="_blank" href="#contact">
        <svg class="icon">
            <use href="sprites.svg#icon-email"></use>
        </svg>
        <span>Contact</span>
    </a>
    
    <a class="link" href="#about">
        <span>About</span>
    </a>
    
    <a class="link" href="#about">
        <span>Help</span>
    </a>

    <div class="socials">
        <a target="_blank" href="https://github.com/444leonn">
            <svg class="icon">
                <use href="sprites.svg#icon-github"></use>
            </svg>
        </a>

        <a target="_blank" href="https://linkedin.com/in/leon-acosta">
            <svg class="icon">
                <use href="sprites.svg#icon-linkedin"></use>
            </svg>
        </a>
    </div>
</footer>